.statusDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.statusDot_online {
  background: var(--mantine-color-green-6);
}

.statusDot_offline {
  background: var(--mantine-color-gray-4);
}
